# ==========================
# Dependencies
# ==========================
node_modules
.pnpm-store

# ==========================
# Package Managers
# ==========================
pnpm-lock.yaml


# ==========================
# Turborepo
# ==========================
.turbo


# ==========================
# Mastra
# ==========================
.mastra
# ==========================
# Build Output
# ==========================
dist
build
coverage
out

# ==========================
# Framework Output
# ==========================
.next
.vercel

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo

# ==========================
# Environment Files
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# IDE
# ==========================
.vscode
.idea

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Generated Assets
# ==========================
*.min.js
*.min.css